@charset "UTF-8";
*{
	font-family: 'Noto Sans KR', sans-serif;	
}
#main{
	width : 70%;
	position : absolute;
	top : 100px;
	right : 100px;
}
#main .main_wrap{
	overflow : hidden;
	background-color : #B4C6A6;
	box-shadow: 8px 5px 5px grey;
	border-radius : 20px 20px 20px 20px;
}
#main #join table{
	width : 80%;
	margin : 80px auto;
	margin-bottom : 40px;
}
#join table tr{
	height : 40px;
}
#join table th{
	width : 15%;
	color : #66806A;
	font-size : 20px;
	font-weight : 500;
	text-align : right;
	padding-right : 5px;
}
#join table td{
	width : 85%;
}
#join table td select{
	width : 30%;
	height : 30px;
	color : white;
	background-color: #66806A;
	outline-color: #B4C6A6;
}
#join table td select option{
	height : 30px;
	background-color: #66806A;
}
#join table tr td input[type="text"]{
	width : 100%;
	height : 30px;
	border : 1px solid #B4C6A6;
	outline-color: #B4C6A6;
}
#join table tr td #summernote{
	width : 100%;
	height : 600px;
	margin : 20px auto;
}
#join table .button{
	text-align: center;
}
#join table .button input{
	width : 10%;
	height : 45px;
	color : white;
	font-size : 16px;
	font-weight : 400;
	text-align : center;
	border-radius : 10px;
	background-color : #66806A;
	border : 1px solid #B4C6A6;
	outline-color: #B4C6A6;
	cursor: pointer;
}