@charset "UTF-8";
footer{
	width : 100%;
	font-weight: 100;
	font-family: 'Noto Sans KR', sans-serif;
	float: right;
}
footer ul{
	width : 90%;
	margin : 10px auto;
	text-align : right;
	padding : 20px;
}
footer ul li{
	list-style : none;
	color : #66806A;
}
footer ul li a{
	color : #66806A;
	text-decoration : none;
	background-color : #FFF1AF;
}
footer ul li a:hover{
	color : #FFC286;
	font-weight: 300;
	cursor: pointer;
}
