@charset "UTF-8";
header{
	width : 20%;
	position : fixed;
	top : 100px;
	left : 50px;
	overflow : hidden;
	border-radius : 10px;
	background-color : #B4C6A6;
	box-shadow: 8px 5px 5px grey;
	font-family: 'Noto Sans KR', sans-serif;
}

/* 로고 */
header #logo{
	width : 100%;
	text-align : center;
	margin-top : 20px;
}
header #logo .logoImg{
	height : 180px;
}
header #logo .name{
	width : 79%;
	margin : 0 auto;
	color : #66806A;
	font-weight: 500;
	font-size : 20px;
	line-height : 65px;
	text-align : right;
}

/* 메뉴 전체 */
header ul li{
	list-style : none;
}
header ul li a{
	color : white;
	display : block;
	text-align : right;
	text-decoration : none;
}
header ul li a:hover{
	color : #66806A;
}

/* 회원가입 등의 메뉴 */
header #top_nav{
	width : 100%;
	line-height : 40px;
}
header #top_nav .right{
	margin-right : 40px;
	overflow : hidden;
}
header #top_nav .right li{
	float : right;
}
header #top_nav .right li a{
	width : 90px;
	font-size : 18px;
	font-weight: 400;
}


/* 메뉴 목록 */
header #bottom_nav{
	width : 100%;
}
header #bottom_nav ul{
	width : 80%;
	text-align : right;
	margin-right : 50px;
}
header #bottom_nav ul li a{
	width : 100%;
	font-size : 20px;
	font-weight: 500;
	text-align : right;
	line-height : 65px;
	text-decoration : none;
	display : block;
	color : white;
}
#bottom_nav ul li a:hover{
	color : #66806A;
}