@charset "UTF-8";
#main{
	width : 70%;
	position : absolute;
	top : 80px;
	right : 100px;
}
#main #join{
	width : 100%;
	margin : 0 auto;
	font-family: 'Noto Sans KR', sans-serif;	
}
#main #join table{
	width : 50%;
	margin : 80px auto;
	padding : 50px 50px 50px 50px;
	background-color : #B4C6A6;
	border : 1px solid #B4C6A6;
	border-radius : 30px;
	box-shadow: 8px 5px 5px grey;
}
#join table tr{
	height : 40px;
}
#join table th{
	width : 30%;
	color : #66806A;
	font-size : 16px;
	font-weight : 500;
	text-align : right;
	padding-right : 5px;
}
#join table .check{
	height : 16px;
}
#join table .check td div{
	font-size : 16px;
	font-weight : 100px;
}
#join table .check td .red{
	color : red;
}
#join table .check td .blue{
	color : blue;
}
#join table tr td input{
	width : 60%;
	height : 25px;
	border : 1px solid #B4C6A6;
	outline-color: #B4C6A6;
}
#join table tr td #idChk{
	width : 25%;
	height : 30px;
	color : white;
	font-size : 15px;
	font-weight : 400;
	text-align : center;
	border-radius : 10px;
	background-color : #66806A;
	cursor: pointer;
}
#join table .button{
	text-align : right;
}
#join table .button input{
	width : 20%;
	height : 45px;
	color : white;
	font-size : 16px;
	font-weight : 400;
	text-align : center;
	border-radius : 10px;
	background-color : #66806A;
	cursor: pointer;
}
